* {
    color: white;
    // max-width: 80%;
}

.carousel-image-div {
    width: 100%;
    height: 95vh;
}

.carousel-image {
    object-fit: cover;
    filter: brightness(70%);
}

.carousel {
    height: 95vh;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}

.carousel-caption-title {
    font-size: 10vmin;
}

.carousel-caption-body {
    font-size: 5vmin;
}
