.sectionHeader {
    text-align: center;
    padding: 15vmin;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.photo-left {
    background-color: #A2185B1A;
}

.photo-right {
    background-color: #F3F2F2;
}

h3 {
    font-size: 1vmin + 4;
}

h6 {
    font-size: 1vmin + 1;
}
