img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.loading-image-div {
  display: flex;
  align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.loading-image {
  height: 10%;
  width: 10%;
  object-fit: cover;
}
